**/target
/test-apks/*.apk
*.apk
*.md
!README.md
!crates/cli/docs/*.md
!docs/*
temp
patch-api/build/
patch-api/.gradle/
patch-api/generated/
patch-api/app/
tests/kotlin-runtime-bundle/build
tests/kotlin-runtime-bundle/.gradle
reseam.pk8
reseam.der
