**/target
/test-apks/*.apk
*.apk
ARCHITECTURE.md
WORK_LOG.md
temp
kotlin-sdk/build/
kotlin-sdk/.gradle/
kotlin-sdk/generated/
kotlin-sdk/dev/
tests/kotlin-runtime-bundle/build
tests/kotlin-runtime-bundle/.gradle
.codex
